apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        image: ilagnami/my-app:latest    # образ на Docker Hub
        ports:
        - containerPort: 8080
        imagePullPolicy: IfNotPresent    # подтягиваем образ с Docker Hub, если нет локального
